<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header>
            <h1>swartz</h1>
            <div class="auth">
                <div class="login">
                    <a href="/signup">signup</a>
                    <a href="/login">login</a>
                </div>

                <div class="logout hidden">
                    <div class="identity">
                        logged in as <span class="name"></span>
                        (<a href="/logout">logout</a>)
                    </div>
                </div>
            </div>
        </header>

        <div class="flash"></div>
        <div id="page"></div>
    </body>
</html>
