<div class="login">
    <form action="/login" method="post">
        <div class="message"></div>
        <div class="field">
            <input type="text" name="username" placeholder="username"
                   autofocus required>
        </div>

        <div class="field">
            <input type="password" name="password" placeholder="password"
                   required>
        </div>

        <div class="anti-forgery-field"></div>

        <input type="submit" value="login">
    </form>
</div>
