<div class="post">
    <h2><a class="title"></a></h2>
    <div class="content"></div>

    <div class="notes">
        <h3>Notes</h3>
        <div class="new-note">
            <form class="note" method="post">
                <div class="field">
                    <textarea name="content" placeholder="Leave a note"></textarea>
                </div>

                <div class="anti-forgery-field"></div>

                <input type="submit" value="Note">
            </form>
        </div>

        <div class="no-note hidden">
            You have to <a href="/login">login</a> to leave a note.
        </div>
    </div>
</div>
